name: Deploy Backend to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Build frontend
        run: |
          cd frontend
          npm install
          npm run build
          # Копируем build в backend, чтобы Django мог использовать статику
          mkdir -p ../backend/frontend/
          cp -r build ../backend/frontend/

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Python dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django migrations and collect static files
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: |
          cd backend
          python manage.py migrate --noinput
          python manage.py collectstatic --noinput

      - name: Trigger Render deploy
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
        run: |
          curl -X POST https://api.render.com/deploy/srv-d43uemjipnbc73cbothg \
          -H "Authorization: Bearer $RENDER_API_KEY"
